h1#r{
  font-size:72px;
  color:red
}
h1#y{
  font-size:50px;
  color:yellow
}
h1#b{
  font-size:64px;
  color:blue
}
div{
  color:green
}
a{
  color:red;
  text-decoration: none;
}
img{
  width:200px;
}
.online{
  border: 5px solid red
}
.local{
  border: 5px solid green
}
table{
    background-image: url('../images/penguins.jpg');
}
table,tr,td,th{
  border:2px solid blue;
  border-collapse: collapse;
  width:150px;
  height:70px;
  color:red;
}
#heading{
  border:5px solid black;
}
#answer{
  background-color: red;
  color: yellow;
}
